<html>
<head>
	{% load static %}
	<script src="{% static 'jquery.js' %}"></script>
	<!-- <script>
		if (typeof jQuery != 'undefined') {

	    alert("jQuery library is loaded!");

	}else{

	    alert("jQuery library is not found!");

	}
</script> -->
</head>
<body>



{% if name %}

<ul>
<h2>{{ name }}</h2>
</ul>

<h3>First friends</h3>
<ul>
{% for nn, image in friends %}
<li><img src="{{ image }}"/> {{ nn }}</li>
{% endfor %}
</ul>

<h3>Second friends</h3>
<ul>
{% for nn, uid, image, num_comm in snd_friends %}
<li><img src="{{ image }}"/> @{{ nn }}  <div id="{{ uid }}" class="common_friends_number">{{num_comm}}</div> </li>
{% endfor %}
</ul>

{% else %}
<p>
{% if basic_list %}
	<ul>
		{% for i in basic_list %}
			<li><h1>{{ i }}</h1></li>
		{% endfor %}
	</ul>
{% endif %}
</p>

{% endif %}

</body>