<html>
<head>
	{% load static %}
	<script src="{% static 'jquery.js' %}"></script>
	<script src="{% static 'json2.js' %}"></script>
	<script>
		// Code from https://docs.djangoproject.com/en/1.10/ref/csrf/
		// to provide safe solution for csrf.
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		////////////////////////////////////////////////////////////////
		function update_followers_html(data) {
			console.log("update_followers_html");
			console.log(data);
			var need_dely = false;
			for(var prop in data) {
				var flist = data[prop];
				if(flist == null) {
					need_dely = true;
				}
				else {
					var el = document.getElementById("frs_followers_" + prop);
					if(el == null) continue;
					var new_html = "<ul>";
					for(var i in flist) {
						var snd_friend = document.getElementById(flist[i][0].toString());
						if(snd_friend == null) 
							new_html += "<li>" + "<img src='" + flist[i][2] + "' />" + flist[i][1] + " " + "<input id=\"" + flist[i][0] + "\"class='common_followers_number' type='int' value=1 /> " + flist[i][0] + "</li>";
						else {
							snd_friend.value = parseInt(snd_friend.value) + 1;
						}
					}
					new_html += "</ul>";
					el.innerHTML = new_html;
					el.removeAttribute("class");
				}
			}
			var el = document.getElementById("processing");
			if(el != null) {
				el.style = "display: none;";
			}
			if(need_dely) {
				console.log("Set timeout for 1 min.");
				setTimeout(update_followers, 60 * 1000);
			}
			else {
				update_followers();
			}
		}
		function update_followers() {
			var followers = document.getElementsByClassName('first_followers');
			var need_update = [];
			for(var i = 0; i < followers.length && need_update.length < 10; i++) {
				need_update.push(followers.item(i).title);
			}
			console.log("Update_followers");
			console.log(need_update);
			if(need_update.length > 0) {
				$.ajax({
					type: "POST",
					url: "followers/ajax/update_followers.json",
					data: { "input": need_update },
					success: update_followers_html,
					dataType: "json"
				});
			}
		}
		$(document).ready(function () {
			// Code from https://docs.djangoproject.com/en/1.10/ref/csrf/
			// to provide safe solution for csrf.
			function csrfSafeMethod(method) {
			    // these HTTP methods do not require CSRF protection
			    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			};
			var csrftoken = getCookie('csrftoken');
			$.ajaxSetup({
			    beforeSend: function(xhr, settings) {
			        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
			            xhr.setRequestHeader("X-CSRFToken", csrftoken);
			        }
			    }
			});
			////////////////////////////////////////////////////////////////
			update_followers();
		});
	</script>
</head>
<body>



{% if name %}

<ul>
<h2>{{ name }}</h2>
</ul>

<h3>Second followers</h3>
<div id="processing" >Processing data...</div>
<ul>
{% for uid in followers %}
<li><div id="frs_followers_{{ uid }}" class="first_followers" title="{{ uid }}">Processing data...</div> </li>
{% endfor %}
</ul>


{% else %}
<p>
{% if basic_list %}
	<ul>
		{% for i in basic_list %}
			<li><h1>{{ i }}</h1></li>
		{% endfor %}
	</ul>
{% endif %}
</p>

{% endif %}

</body>