<html>
<head>
	{% load static %}
	<script src="{% static 'jquery.js' %}"></script>
	<script src="{% static 'json2.js' %}"></script>
	<script>
		// Code from https://docs.djangoproject.com/en/1.10/ref/csrf/
		// to provide safe solution for csrf.
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		////////////////////////////////////////////////////////////////
		function update_friends_html(data) {
			console.log("update_friends_html");
			console.log(data);
			var need_dely = false;
			for(var prop in data) {
				var flist = data[prop];
				if(flist == null) {
					need_dely = true;
				}
				else {
					var el = document.getElementById("frs_friends_" + prop);
					if(el == null) continue;
					var new_html = "<ul>";
					for(var i in flist) {
						new_html += "<li>" + "<img src='" + flist[i][2] + "' />" + flist[i][1] + " " + "<div id=\"" + flist[i][0] + "\"class='common_friends_number' title='-1' > -1</div></li>";
					}
					new_html += "</ul>";
					el.innerHTML = new_html;
					el.removeAttribute("class");
				}
			}
			var el = document.getElementById("processing");
			if(el != null) {
				el.style = "display: none;";
			}
			if(need_dely) {
				console.log("Set timeout for 1 min.");
				setTimeout(update_friends_numbers, 60 * 1000);
				setTimeout(update_friends, 60 * 1000);
			}
			else {
				update_friends_numbers();
				update_friends();
			}
		}
		function update_numbers_html(data) {
			console.log("update_numbers_html");
			console.log(data);
			var need_dely = false;
			for(var prop in data) {
				var v = data[prop];
				if(v == -1) need_dely = true;
				else {
					var el = document.getElementById(prop.toString());
					if(el == null) continue;
					el.textContent = v.toString();
					el.title = v.toString();
					el.removeAttribute("class")
				}
			}
			if(need_dely) {
				console.log("Set timeout for 1 min.");
				setTimeout(update_friends_numbers, 60 * 1000);
			}
			else {
				update_friends_numbers();
			}
		};
		function update_friends() {
			var friends = document.getElementsByClassName('first_friends');
			var need_update = [];
			for(var i = 0; i < friends.length && need_update.length < 10; i++) {
				need_update.push(friends.item(i).title);
			}
			console.log("Update_friends");
			console.log(need_update);
			if(need_update.length > 0) {
				$.ajax({
					type: "POST",
					url: "followers/ajax/update_friends.json",
					data: { "input": need_update },
					success: update_friends_html,
					dataType: "json"
				});
			}
		}
		function update_friends_numbers() {
			var friends = document.getElementsByClassName('common_friends_number');
			var need_update = []; 
			for(var i = 0; i < friends.length && need_update.length < 10; i++) {
				if(friends.item(i).title == "-1") {
					need_update.push(friends.item(i).id);
				}
			}
			console.log(need_update);
			if(need_update.length > 0) {
				$.ajax({
					type: "POST",
					url: "followers/ajax/update.json",
					data: { "input": need_update },
					success: update_numbers_html,
					dataType: "json"
				});
			}
		};
		$(document).ready(function () {
			// Code from https://docs.djangoproject.com/en/1.10/ref/csrf/
			// to provide safe solution for csrf.
			function csrfSafeMethod(method) {
			    // these HTTP methods do not require CSRF protection
			    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			};
			var csrftoken = getCookie('csrftoken');
			$.ajaxSetup({
			    beforeSend: function(xhr, settings) {
			        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
			            xhr.setRequestHeader("X-CSRFToken", csrftoken);
			        }
			    }
			});
			////////////////////////////////////////////////////////////////
			update_friends();
		});
	</script>
</head>
<body>



{% if name %}

<ul>
<h2>{{ name }}</h2>
</ul>

<h3>Second friends</h3>
<div id="processing" >Processing data...</div>
<ul>
{% for uid in friends %}
<div id="frs_friends_{{ uid }}" class="first_friends" title="{{ uid }}"/> </li>
{% endfor %}
</ul>


{% else %}
<p>
{% if basic_list %}
	<ul>
		{% for i in basic_list %}
			<li><h1>{{ i }}</h1></li>
		{% endfor %}
	</ul>
{% endif %}
</p>

{% endif %}

</body>